<div class="bgimg">

</div>

<div class="need-help-content">
    <span><strong>Need something fixed?</strong> Click <a href="/Jobs/Create">HERE</a> to request help.</span>
</div>
<div class="worker-content">
    <span><strong>Would you like to help?</strong> Click <a href="/Jobs">HERE</a> to get started.</span>
</div>