
@using System.Security.Claims
@model MrFixIt.Models.Worker
<div class="login-register">
    <h2>Create</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <h4>You do not have a complete worker profile. Please create your worker profile</h4>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.FirstName)<br />
            @Html.TextBoxFor(model => model.FirstName)
            <br />
            @Html.LabelFor(model => model.LastName)<br />
            @Html.TextBoxFor(model => model.LastName)

            <br />
            <input type="submit" value="Register" />
        }
    }
</div>
